
.container{
     display: flex;
     padding: 50px;
}

.leftMenu{
     flex: 1;
}

.content{
     flex: 4;
}

h1{
     font-size: 30px;
     color: #555;
     font-weight: 300;
}
.cats{
     display: flex;
     flex-direction: column;
     gap: 10px;

}
.cat{
     
     font-size: 20px;
     font-weight: 300;
     padding: 5px;
     cursor: pointer;
}
.searchInput{
     padding: 10px;
     width: 200px;
     border: 1px solid gray;
}
.products{
     display: flex;
     flex-wrap: wrap;
     gap: 10px;

}
.product{
     width: 340px;
     display: flex;
     flex-direction: column;
     gap: 30px;
}

img{
     width: 150px;
     height: 250px;
     object-fit: contain;
}
.name{
     font-weight: 300;
}